.breadcrumbs {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;

    .breadcrumb {
        font-size: $font-size-xs;

        .breadcrumb-link {
            color: rgba($color-white, 0.8);

            &:after {
                color: rgba($color-white, 0.8);
                content: '/';
                margin: 0 10px;
                position: relative;
                transition: all 0.2s ease;
            }

            &:hover {
                color: $color-white;

                &:after {
                    color: $color-white;
                }
            }
        }

        .breadcrumb-active-link {
            color: $color-white;
        }
    }
}