.footer {
    background-color: $color-secondary;
    position: relative;

    .top {
        width: 100%;
        padding: 25px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba($color-white, 0.2);

        .side {
            display: flex;
            align-items: center;
            justify-content: center;

            .logo-container {
                margin-right: 25px;

                .logo {
                    height: 25px;
                    width: auto;
                    display: block;
                }
            }
        }
    }

    .bottom {
        padding: 20px 0;
        background-color: darken($color-secondary, 5%);

        .copyrights {
            font-size: 11px;
            display: block;
            font-weight: $font-weight-regular;
            color: rgba($color-white, 0.7);

            a {
                color: $color-white;
            }
        }
    }

    .middle {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 60px 0;

        .content {
            flex: 1;
            margin-right: 40px;

            &:last-of-type {
                margin-right: 0;
            }

            .contacts {
                margin-bottom: 25px;

                .contact {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    .label {
                        width: 80px;
                        display: block;
                        line-height: 24px;
                        margin-right: 20px;
                        color: $color-white;
                        font-size: 13px;
                    }

                    .value {
                        display: block;
                        line-height: 24px;
                        color: rgba($color-white, 0.7);
                        font-size: 13px;

                        &:hover {
                            color: $color-white;
                        }
                    }
                }
            }

            .links-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 10px;

                .navigation-item {
                    margin-left: 15px;
                    line-height: 24px;
                    display: list-item;
                    color: rgba($color-white, 0.7);
                    font-size: 13px;
                    transition: color 0.2s ease;

                    &:hover, &.active {
                        color: $color-white;
                    }
                }
            }

            .title {
                font-family: $font-family-headers;
                color: $color-white;
                display: block;
                font-size: 19px;
                font-weight: $font-weight-regular;
                margin-bottom: 25px;
            }

            .description {
                font-size: 12px;
                display: block;
                line-height: 24px;
                height: 72px;
                overflow-y: hidden;
                margin-bottom: 25px;
                font-weight: $font-weight-regular;
                color: rgba($color-white, 0.7);
            }

            .link {
                display: inline-block;
                padding-bottom: 5px;
                font-size: 14px;
                color: $color-white;
                font-family: $font-family-headers;
                border-bottom: 1px solid rgba($color-white, 0.3);
                transition: color 0.2s ease;

                &:hover {
                    color: $color-white;
                }
            }
        }
    }
}