.footer {
  background-color: $color-dark-brown;
  position: relative;

  .top {
    width: 100%;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba($color-white, 0.2);

    .side {
      display: flex;
      align-items: center;
      justify-content: center;

      .logo-container {
        margin-right: 25px;

        .logo {
          height: 25px;
          width: auto;
          display: block;
        }
      }
    }
  }

  .bottom {
    padding: 20px 0;
    background-color: $color-text-primary;

    .copyrights {
      font-size: 11px;
      display: block;
      font-weight: $font-weight-regular;
      color: rgba($color-white, 0.7);

      a {
        color: $color-white;
      }
    }
  }

  .middle {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 60px 0;

    .content {
      flex: 1;
      margin-right: 40px;

      &:last-of-type {
        margin-right: 0;
      }

      .contacts {
        margin-bottom: 25px;

        .contact {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          .label {
            width: 80px;
            display: block;
            line-height: 24px;
            margin-right: 20px;
            color: $color-primary;
            font-size: 13px;
          }

          .value {
            display: block;
            line-height: 24px;
            color: rgba($color-white, 0.7);
            font-size: 13px;

            &:hover {
              color: $color-primary;
            }
          }
        }
      }

      .subscribe-form {
        display: flex;
        align-content: center;
        justify-content: center;

        .label {
          display: none;
        }

        .input {
          flex: 1;
          margin-right: 10px;
          border: 1px solid rgba($color-white, 0.1);
          background: rgba($color-white, 0.05);
          padding: 0 20px;
          height: 50px;
          color: $color-white;
          line-height: 50px;
        }
      }

      .title {
        font-family: $font-family-headers;
        color: $color-primary;
        display: block;
        font-size: 19px;
        font-weight: $font-weight-regular;
        margin-bottom: 25px;
      }

      .description {
        font-size: 12px;
        display: block;
        line-height: 24px;
        margin-bottom: 25px;
        font-weight: $font-weight-regular;
        color: rgba($color-white, 0.7);
      }

      .link {
        display: inline-block;
        padding-bottom: 5px;
        font-size: 14px;
        color: $color-primary;
        font-family: $font-family-headers;
        border-bottom: 1px solid rgba($color-white, 0.3);
        transition: color 0.2s ease;

        &:hover {
          color: $color-white;
        }
      }
    }
  }
}