.header {
  height: 36px;
  width: 100%;
  background-color: $color-dark-brown;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .contacts {
      display: flex;
      align-items: center;
      justify-content: center;

      .contact {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;

        &:last-of-type {
          margin-right: 0;
        }

        .label {
          font-size: 11px;
          color: $color-primary;
          display: block;
          margin-right: 10px;
        }

        .value {
          display: block;
          font-size: 11px;
          color: $color-white;

          &.active, &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }
}