.locales {
  display: flex;
  align-items: center;
  justify-content: center;

  .locale {
    margin-right: 15px;

    &:last-of-type {
      margin-right: 0;
    }

    .locale-item {
      font-size: 11px;
      color: rgba($color-white, 0.7);
      display: block;

      &.active, &:hover {
        color: $color-white;
      }
    }
  }
}