{% extends 'layouts/page-layout.html.twig' %}
{% set title = 'titles.about_us' | trans %}
{% set navigation_active = 'about_us' %}

{% block main %}
    <div class="about-us-page">

    </div>
{% endblock %}