{% extends 'layouts/page-layout.html.twig' %}
{% set title = 'titles.gallery' | trans %}
{% set navigation_active = 'gallery' %}

{% block main %}
    <div class="gallery-page">

    </div>
{% endblock %}