{% extends 'layouts/page-layout.html.twig' %}
{% set title = gallery.title(app.request.locale) %}
{% set navigation_active = 'galleries' %}

{% block main %}
    <div class="gallery-page">
        <div class="container">
            <div class="masonry" id="images">
                {% for photo in gallery.photos %}
                    <div data-src="{{ vich_uploader_asset(photo, 'file') }}" class="masonry-item image-container">
                        <img class="image" alt="{{ gallery.title(app.request.locale) }}" src="{{ vich_uploader_asset(photo, 'file') }}"/>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}