{% extends 'layouts/page-layout.html.twig' %}
{% set title = 'titles.menu' | trans %}
{% set navigation_active = 'menu' %}

{% block main %}
    <div class="menu-page">
        <div class="container">
            <div class="categories">
                {% for category in categories %}
                    <div class="category frame">
                        <h4 class="category-title">{{ category.title(app.request.locale) }}</h4>
                        <div class="products">
                            {% for product in category.products %}
                                {% if product.visible == true %}
                                    <div class="product">
                                        <div class="details">
                                            <h4 class="title">{{ product.title(app.request.locale) }}</h4>
                                            {% if product.description(app.request.locale) %}
                                                <p class="description">{{ product.description(app.request.locale) }}</p>
                                            {% endif %}
                                        </div>
                                        <span class="price">{{ product.price | priceFormat }}</span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}