{% extends 'layouts/page-layout.html.twig' %}
{% set title = 'titles.news' | trans %}
{% set navigation_active = 'news' %}

{% block main %}
    <div class="news-page">
        <div class="container">

        </div>
    </div>
{% endblock %}