{% extends 'layouts/page-layout.html.twig' %}
{% set title = 'titles.news' | trans %}
{% set navigation_active = 'news' %}

{% block main %}
    <div class="news-page">
        <div class="container">
            {% include 'includes/news-articles.html.twig' with {articles: articles} %}
        </div>
    </div>
{% endblock %}