{% extends 'layouts/page-layout.html.twig' %}
{% set title = category.title(app.request.locale) %}
{% set navigation_active = 'room_category_' ~ category.id %}

{% block main %}
    <div class="rooms-page">
        <div class="container">
            {% include 'includes/rooms.html.twig' with {rooms: rooms} %}
        </div>
    </div>
{% endblock %}