{% extends 'base.html.twig' %}

{% block body %}
    <main class="page-layout">
        {% include 'includes/header.html.twig' %}
        {% include 'includes/navigation.html.twig' %}
        {% include 'includes/hero.html.twig' %}
        {% block additional_hero %}{% endblock %}
        <div class="content">
            {% block main %}{% endblock %}
        </div>
        {% include 'includes/footer.html.twig' %}
    </main>
{% endblock %}