.sidebar {
  width: 240px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-right: 1px solid rgba($color-white, 0.3);
  background-color: $color-dark-blue;

  .header-container {
    background-color: $color-dark-blue-2;
    border-bottom: 1px solid rgba($color-white, 0.3);

    .title {
      color: $color-white;
    }
  }

  .navigation {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    padding: 15px 0;

    .top {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .navigation-item {
      height: 35px;
      padding: 0 15px;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      color: $color-light-blue;
      font-size: 13px;
      text-decoration: none;
      transition: color 0.2s ease, background-color 0.2s ease;
      border-left: 2px solid $color-dark-blue-2;

      i {
        margin-right: 10px;
        font-size: 18px;
        display: block;
      }

      &:hover, &.active {
        color: $color-white;
        border-left: 2px solid $color-white;
        background-color: rgba($color-white, 0.08);
      }
    }
  }
}