.table-filter {
  height: 100vh;
  width: 300px;
  position: relative;
  display: none;
  flex-direction: column;
  overflow-y: auto;
  border-left: 1px solid $color-table-border;
  background-color: $color-white;
  transition: right 0.2s ease;

  .actions {
    .close {
      color: $color-text-secondary;
      font-size: 20px;
      cursor: pointer;
      display: block;
    }
  }
}