{% extends 'admin/layouts/sidebar-layout.html.twig' %}
{% set sidebar_active = 'restaurants' %}

{% block content %}
    <div class="content">
        <div class="header-container">
            <h1 class="title">{{ 'admin.titles.add_restaurant' | trans }}</h1>
        </div>
        <div class="fixed-content">
            {% include 'admin/pages/restaurant/form.html.twig' %}
        </div>
    </div>
{% endblock %}