{% extends 'admin/layouts/sidebar-layout.html.twig' %}
{% set sidebar_active = 'restaurants' %}

{% block content %}
    <div class="content">
        <div class="header-container">
            <h1 class="title">{{ 'admin.titles.delete_restaurant' | trans }}</h1>
        </div>
        <div class="fixed-content">
            <form class="delete-form form" method="post" novalidate>
                <div class="block-footer">
                    <button type="submit" class="button button-primary">{{ 'admin.buttons.delete' | trans }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}