$color-white: #ffffff;
$color-black: #000000;
$color-blue: #485e90;
$color-table-border: rgba($color-blue, 0.16);
$color-text-secondary: #8392a5;
$color-text-primary: #001737;
$color-light-grey: #f5f6fa;
$color-success: #008000;
$color-primary: #0168fa;
$color-dark-grey: #c0ccda;
$color-dark-blue-2: #042893;
$color-dark-blue: #052fac;
$color-light-blue: #63a3fe;

$color-royal-blue: #5B47FB;
$color-rose: #f10075;
$color-ecstasy: #fd7e14;
$color-blue-ribbon: #0168fa;
$color-egg-blue: #00cccc;
$color-malachite: #10b759;