.button {
  display: block;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background-image: none;
  border: none;
  outline: none;
  font-family: $font-family-headers;
  height: 50px;
  line-height: 50px;
  font-size: 13px;
  padding: 0 20px;
  transition: background-color 0.2s ease, color 0.2s ease;
  text-decoration: none;

  &-primary {
    @include button-variant($color-white, $color-primary, $color-primary);
  }

  &-secondary {
    @include button-variant($color-white, $color-text-secondary, $color-text-secondary);
  }

  &-outline {
    &-primary {
      @include button-outline-variant($color-primary, $color-primary);
    }

    &-secondary {
      @include button-outline-variant($color-text-secondary, $color-text-secondary);
    }
  }
}