<header class="header">
    <div class="container">
        {% include 'includes/locales.html.twig' %}
        <div class="contacts">
            <div class="contact">
                <span class="label">{{ 'header.email' | trans }}: </span>
                <a class="value" target="_blank" href="mailto:info@florossimfonija.lt">info@florossimfonija.lt</a>
            </div>
            <div class="contact">
                <span class="label">{{ 'header.phone' | trans }}: </span>
                <a class="value" target="_blank" href="tel:+37063673520">+370 636 73520</a>
            </div>
        </div>
    </div>
</header>