<div class="navigation-container">
    <div class="container">
        <nav class="navigation">
            <a href="{{ path('locations') }}" class="logo-container">
                <img class="logo" alt="Floros simfonija" src="{{ asset('images/logo.jpg') }}"/>
            </a>
            {% include 'includes/links.html.twig' %}
        </nav>
    </div>
</div>