<div class="social">
    <span class="label">{{ 'footer.follow_us' | trans }}: </span>
    <div class="links">
        <a class="link" href="{{ location.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
        <a class="link" href="{{ location.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
</div>