@mixin font-size($font-size, $line-height: $font-size) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin font-style($font-family: $font-family-base, $font-weight: $font-weight-regular, $letter-spacing: normal) {
  font-family: $font-family;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
}

@mixin font($font-size: $font-size-s, $line-height: $font-size, $font-weight: $font-weight-regular, $letter-spacing: normal, $font-family: $font-family-base) {
  @include font-style($font-family, $font-weight, $letter-spacing);
  @include font-size($font-size, $line-height);
}