{% extends '@!CHCookieConsent/cookie_consent.html.twig' %}

{% block title %}
    <h3 class="ch-cookie-consent__title">{{ 'titles.cookies'|trans }}</h3>
{% endblock %}


{% block read_more %}{% endblock %}