{% extends 'admin/base.html.twig' %}

{% block body %}
    <main class="sidebar-layout">
        {% include 'admin/includes/sidebar.html.twig' %}
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </main>
{% endblock %}