{% extends 'admin/base.html.twig' %}

{% block body %}
    <main class="side-image-layout">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <div class="image-container"></div>
    </main>
{% endblock %}