.color-royal-blue {
  background-color: rgba($color-royal-blue, 0.05) !important;
}

.color-rose {
  background-color: rgba($color-rose, 0.05) !important;
}

.color-ecstasy {
  background-color: rgba($color-ecstasy, 0.05) !important;
}

.color-blue-ribbon {
  background-color: rgba($color-blue-ribbon, 0.05) !important;
}

.color-egg-blue {
  background-color: rgba($color-egg-blue, 0.05) !important;
}

.color-malachite {
  background-color: rgba($color-malachite, 0.05) !important;
}