.dates-list {
  width: 100%;
  display: flex;
  flex-direction: column;

  .cell {
    display: flex;
    align-items: stretch;
    flex-shrink: 0;
    justify-content: flex-start;
    min-width: 0;

    &-extra-small {
      width: 75px;
    }

    &-small {
      width: 120px;
    }

    &-medium {
      width: 130px;
    }

    &-large {
      width: 150px;
    }

    &-resizable {
      flex: 1;
    }

    &-column {
      flex-direction: column;
    }

    &-vertical-center {
      align-items: center;
    }

    &-center {
      justify-content: center;
      align-items: center;
    }
  }

  .header {
    display: flex;
    align-items: stretch;
    width: 100%;
    border: 1px solid $color-table-border;
    border-bottom: none;

    .cell {
      height: 30px;
      align-items: center;
    }

    .value {
      font-size: 10px;
      background-color: $color-white;
      font-weight: $font-weight-medium;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: $color-text-secondary;
      white-space: nowrap;
      padding: 0 10px;
    }
  }

  .body {
    display: flex;
    align-items: stretch;
    border-top: 1px solid $color-table-border;
    border-left: 1px solid $color-table-border;

    .footer {
      border: none;
      border-right: 1px solid $color-table-border;
      border-bottom: 1px solid $color-table-border;
      background-color: $color-white;
    }

    .date-cell {
      background-color: $color-light-grey;
      border-right: 1px solid $color-table-border;
      border-bottom: 1px solid $color-table-border;
    }

    .project-cell {
      background-color: $color-light-grey;
      border-right: 1px solid $color-table-border;
      border-bottom: 1px solid $color-table-border;
    }

    .record-cell {
      height: 35px;
      border-right: 1px solid $color-table-border;
      border-bottom: 1px solid $color-table-border;
    }

    .action {
      text-decoration: none;

      &:first-of-type {
        margin-right: 5px;
      }

      i {
        font-size: 18px;
        color: $color-text-secondary;
        display: block;
      }
    }

    .value {
      font-size: 13px;
      font-weight: $font-weight-medium;
      padding: 0 10px;
      white-space: nowrap;
      color: $color-text-primary;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .footer {
    display: flex;
    align-items: stretch;
    width: 100%;
    border: 1px solid $color-table-border;
    border-top: none;
    background-color: $color-light-grey;

    .cell {
      height: 35px;
      align-items: center;
    }

    .value {
      font-size: 13px;
      font-weight: $font-weight-bold;
      padding: 0 10px;
      white-space: nowrap;
      color: $color-text-primary;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .date-details {
    width: 100%;
    margin-bottom: 15px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}