.form {

  .actions {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $color-table-border;

    .button {
      width: calc(50% - 5px);
    }
  }
}