input, select {
  width: 100%;
  padding: 0 10px;
  height: 36px;
  line-height: 36px;
  font-size: 13px;
  font-weight: $font-weight-medium;
  border: 1px solid $color-dark-grey;
  background-color: $color-white;
}