.title {
  letter-spacing: -0.5px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.25;
  color: $color-text-primary;
}

.subtitle {
  font-weight: 700;
  line-height: 1.25;
  font-size: 15px;
  color: $color-text-primary;
}