<aside class="sidebar">
    <div class="header-container">
        <h3 class="title">Floros simfonija</h3>
    </div>
    <nav class="navigation">
        <div class="top">
            <a href="{{ path('admin restaurants') }}" class="navigation-item {% if sidebar_active is defined and sidebar_active == 'restaurants' %}active{% endif %}">
                <i class="material-icons">business</i>
                {{ 'admin.titles.restaurants' | trans }}
            </a>
        </div>
        <div class="bottom">
            <a href="{{ path('admin logout') }}" class="navigation-item">
                <i class="material-icons">logout</i>
                {{ 'admin.titles.logout' | trans }}
            </a>
        </div>
    </nav>
</aside>