.contacts-page {
    .container {
        display: flex;
        align-items: flex-start;

        .content {
            flex: 1;
            margin-right: 40px;

            .title {
                font-size: 30px;
                font-family: $font-family-headers;
                font-weight: $font-weight-bold;
                color: $color-text-tertiary;
                display: block;
                margin-bottom: 20px;
            }

            .description {
                font-size: 13px;
                line-height: 24px;
                padding-bottom: 10px;
                color: $color-text-quaternary;
                display: block;
                margin-bottom: 40px;
            }

            .contacts-form {

                .button-row {
                    margin-top: 40px;
                }

                .row {
                    display: flex;
                    align-items: stretch;
                    justify-content: space-between;
                    margin-bottom: 20px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }

                .form-group {
                    flex: 1;
                    margin-right: 30px;

                    &:last-of-type {
                        margin-right: 0;
                    }

                    label {
                        display: none;
                    }

                    input, textarea {
                        border: 1px solid $color-grey;
                        background-color: $color-light-grey;
                        padding: 0 20px;
                        height: 50px;
                        width: 100%;
                        color: $color-black;
                        line-height: 50px;
                        font-size: 12px;
                        display: block;

                        &:focus {
                            background-color: $color-white;
                        }
                    }

                    textarea {
                        height: 150px;
                        resize: none;
                    }
                }
            }
        }

        .side {
            width: 375px;

            .card:not(:last-of-type) {
                margin-bottom: 15px;
            }

            .details {
                display: flex;

                .labels-container {
                    margin-right: 20px;
                    white-space: nowrap;

                    .label {
                        display: block;
                        line-height: 28px;
                        color: $color-text-primary;
                        font-size: $font-size-xs-1;
                    }
                }

                .values-container {
                    .value {
                        display: block;
                        line-height: 28px;
                        color: $color-text-secondary;
                        font-size: $font-size-xs-1;
                    }
                }
            }
        }
    }
}