.menu-page {

    .category {
        margin-bottom: 125px;

        &:last-of-type {
            margin-bottom: 0;
        }

        .category-title {
            font-size: $font-size-xxl;
            font-weight: $font-weight-bold;
            color: $color-text-tertiary;
            font-family: $font-family-headers;
            display: block;
            text-align: center;
            margin-bottom: 50px;
        }

        .products {
            width: 100%;
            margin-bottom: 70px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 40px;

            .product {
                display: flex;
                align-items: center;
                min-height: 70px;
                padding: 15px 0;
                border-bottom: 2px dotted $color-grey;

                .price {
                    color: $color-primary;
                    font-size: 18px;
                    font-weight: $font-weight-semi-bold;
                    font-family: $font-family-headers;
                    display: block;
                }

                .details {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    padding-right: 40px;

                    .title {
                        color: $color-black;
                        font-size: 15px;
                        font-weight: $font-weight-semi-bold;
                        display: block;
                    }

                    .description {
                        margin-top: 3px;
                        display: block;
                        color: $color-black;
                        font-size: 12px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}