.room-page {

    .top-container {
        width: 100%;
        display: flex;
        align-items: flex-start;

        .content {
            width: calc(100% - 375px);
            margin-right: 25px;
        }

        .side {
            width: 350px;

            .map-container {
                width: 100%;
                margin-bottom: 25px;
                border: 1px solid $color-light-grey-2;
                background-color: $color-light-grey;
                padding: 3px;

                .map-content {
                    background-color: $color-white;
                    border: 1px solid $color-light-grey-2;

                    .map {
                        height: 350px;
                        width: 100%;
                    }

                    .map-details {
                        background-color: $color-white;
                        padding: 20px;

                        .details-title {
                            display: block;
                            color: $color-text-primary;
                            font-size: $font-size-m;
                            font-weight: $font-weight-semi-bold;
                            margin-bottom: 5px;
                        }

                        .details-description {
                            font-size: $font-size-xs;
                            display: block;
                            font-weight: $font-weight-regular;
                            color: $color-text-secondary;
                            margin-bottom: 15px;
                        }
                    }
                }
            }

            .perks-container {
                border: 1px solid $color-light-grey-2;
                background-color: $color-light-grey;
                padding: 3px;

                .perks-content {
                    background-color: $color-white;
                    border: 1px solid $color-light-grey-2;
                    padding: 25px;

                    .price {
                        font-size: 28px;
                        color: $color-primary;
                        font-weight: $font-weight-bold;
                        font-family: $font-family-headers;
                        display: block;
                        text-align: center;
                        margin-bottom: 25px;
                    }

                    .perks {
                        margin-bottom: 25px;

                        .subtitle {
                            color: $color-text-primary;
                            margin-bottom: 15px;
                        }

                        .perk {
                            display: list-item;
                            list-style-type: disc;
                            list-style-position: inside;
                            line-height: 30px;
                            font-size: $font-size-xs-1;
                            font-weight: $font-weight-regular;
                            color: $color-text-secondary;
                        }
                    }
                }
            }
        }
    }

    .subtitle {
        font-size: $font-size-xl;
        font-weight: $font-weight-semi-bold;
        margin-bottom: 25px;
        display: block;
        color: $color-text-primary;
        font-family: $font-family-headers;
    }

    .images {
        margin-bottom: 50px;

        .image-container:hover {
            cursor: pointer;
        }

        .main-image {
            width: 100%;
            height: auto;
            margin-bottom: 5px;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

        .thumbnails {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 5px;

            .thumbnail {
                height: 130px;
                width: 100%;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .content-title {
        font-size: $font-size-xxl;
        font-weight: $font-weight-semi-bold;
        margin-bottom: 10px;
        display: block;
        color: $color-text-primary;
        font-family: $font-family-headers;
    }

    .description {
        font-size: $font-size-xs-1;
        display: block;
        line-height: 24px;
        margin-bottom: 25px;
        font-weight: $font-weight-regular;
        color: $color-text-secondary;
    }

    .rooms {
        grid-template-columns: repeat(2, 1fr);
    }
}