$color-white: #ffffff;
$color-black: #000000;
$color-primary: #C19D60;

$color-text-primary: #222222;
$color-text-secondary: #666666;
$color-text-tertiary: #323246;
$color-text-quaternary: #5e646a;

$color-dark-brown: #292929;
$color-grey: #e1e1e1;
$color-light-grey: #f9f9f9;

$color-blue: #485e90;
$color-light-grey: #f5f6fa;
$color-light-grey-2: #eeeeee;
$color-success: #008000;
$color-dark-grey: #c0ccda;
$color-dark-blue-2: #042893;
$color-dark-blue: #052fac;
$color-light-blue: #63a3fe;